@import "tailwindcss";

:root {
  --background: oklch(96.7% .003 264.542);
  --foreground: #171717;
  --offset: rgb(35 55 75 / 90%)
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-offset: var(--offset);

  /*--font-sans: var(--font-geist-sans);*/
  /*--font-mono: var(--font-geist-mono);*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map-container {
  height: 100%;
  width: 100%;
  background-color: lightgrey;
}

.sidebar {
  font-family: monospace;
}
